<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <form action="" method="POST">
      <label for="fullURL">Url</label>
      <input type="url" name="fullURL" id="fullURL" />
      <button type="submit">Shorten</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="google.com">Google.com</a></td>
          <td><a href="google.com">Google</a></td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
